
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.titulo {
    font-size: 36px; /* Tamanho da fonte */
    text-align: center; /* Alinhamento centralizado */
    color: #1f1c1c; /* Cor do texto  */
    margin-top: 20px; /* Margem superior para espaçamento */
    text-transform: uppercase; /* Texto em maiúsculas */
    font-weight: bold; /* Negrito */
}


.imagem {
    display: block;
    margin: 0 auto;
    width: 590px; /* Largura desejada */
    height: 360px; /* Altura desejada */
    border: 2px solid #333; /* Cor e estilo da borda */
    border-radius: 10px; /* Valor do raio de arredondamento */
    margin-top: 14px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7); /* Adiciona uma sombra de 10px ao redor da imagem */
}

img{
    width: 13px;
    height: 15px;
    color: #fff;
}

 /* Estilo para a hotbar */
 .hotbar {
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    overflow: hidden;
 }

 .btn-link{
    color: #1f1d1d;
    text-decoration: none;
 }

/* Estilo para os itens da hotbar */
.hotbar-item {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left; /* Alinhar os itens à esquerda */
    margin: 0; /* Margem zero para remover espaços entre os itens */
    margin-left: 140px;
    padding: 10px 20px; /* Espaçamento interno para os itens */
    text-align: center; /* Alinhamento centralizado do texto */
    font-size: 18px; /* Tamanho da fonte */
    color: #222020; /* Cor do texto */
}

/* Estilo para os itens quando o mouse está sobre eles */
.hotbar-item:hover {
    background-color: #adcfad; /* Cor de fundo quando o mouse está sobre o item */
}

.mensagem {
    display: none; /* Inicialmente, a mensagem está oculta */
    transition: opacity 0.5s, transform 0.5s; /* Transições de opacidade e transformação */
}

.mostrar {
    display: block; /* Exibir a mensagem quando a classe "mostrar" é aplicada */
    opacity: 1; /* Tornar a mensagem visível */
    transform: translateY(0); /* Animação de deslizamento para baixo */
}


h2{
    background-color: #F5F5F5; /* Cor de fundo em cinza claro */
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
    padding: 10px; /* Adicione preenchimento para espaçamento interno */
    border-radius: 5px; /* Adicione cantos arredondados para suavizar a aparência */
    color: #333; /* Cor do texto para contraste */
    text-align: center; /* Centralize o texto horizontalmente */
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    border: none;
    text-align: center;
}

#textt{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.typing-animation {
    margin: 70px auto;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.text {
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #fcfbfb;
    animation: typing 3s steps(30) infinite;
    margin-left: 220px;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


.question {
    color: rgb(5, 131, 47);
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    cursor: pointer;
  }
  
  .question input,
  .question .answer { display: none;
    color: black;
    margin-left: 270px;

}
  
  .question label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 460px;
    width: 100%
  }
  
  .question input:checked ~ .answer {
    display: block
  }

  h5{
    margin-top: 30px;
    color: #0a0000;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }


  @media (max-width: 1024px) {
    .hotbar-item {
        flex-direction: column;
        margin-left: 40px;
        display: flex;
 }
}